.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.App button {
  padding: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
}